@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "PoppinsBold2";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Oceanwide";
  src: url("../fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf")
  format("truetype");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 1.5px;
}

#ocean {
  font-family: "Oceanwide", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

#poppinsbold {
  font-family: "PoppinsBold", sans-serif;
}


#poppinsbold2 {
  font-family: "PoppinsBold2", sans-serif;
}

.nav {
  font-family: "Oceanwide", sans-serif;
  font-weight: 900;
}

body {
  overflow-x: hidden;
  background-color: #0E1527;
}

#span {
  font-family: "Oceanwide";
  letter-spacing: 1px;
  color: #d1d1d1;
}

input {
  font-family: "Oceanwide";
  font-weight: 300;
}

.tnav {
  padding: 10px;
  font-weight: 900;
  background: -webkit-linear-gradient(#c5c5c5, #fcfcfc);

  /* For other browsers */
  color: #fff;
}

.ttext {
  background: -webkit-linear-gradient(#5c86ee, #e58aeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* For other browsers */
  color: transparent;
}


.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  background: transparent;
}

.open {
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease, visibility 0.7s ease; /* Transition opacity and visibility */
}

.close {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s ease, visibility 0s ease; /* Transition opacity and visibility */
}

