@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Oceanwide";
  src: url("../fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf")
  format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oceanwide", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 1.5px;
}

#ocean {
  font-family: "Oceanwide", sans-serif;
}

#poppins {
  font-family: "Poppins", sans-serif;
}

.nav {
  font-family: "Oceanwide", sans-serif;
  font-weight: 900;
}

body {
  overflow-x: hidden;
  background-color: #0E1527;
}

#span {
  font-family: "Oceanwide";
  letter-spacing: 1px;
  color: #d1d1d1;
}

input {
  font-family: "Oceanwide";
  font-weight: 300;
}

.tnav {
  padding: 10px;
  font-weight: 900;
  background: -webkit-linear-gradient(#c5c5c5, #fcfcfc);

  /* For other browsers */
  color: #fff;
}

.ttext {
  background: -webkit-linear-gradient(#5c86ee, #e58aeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* For other browsers */
  color: transparent;
}
